@page
@using Kendo.Mvc.UI
@model TelerikSamples1.Pages.DialogIndexModel
@{
    ViewData["Title"] = "Dialog Simple";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

<script src="js/dialogIndex.js"></script>

<h1>Dialog simple and tooltips <span id="tooltip1" class="k-icon k-i-info-circle"></span></h1>

<div class="mt-5">

    @(Html.Kendo().Dialog()
        .Name("dialog")
        .Title("Data Update")
        .Content("<p>Would you like to <strong>continue</strong> with registration?<p>")
        .Width(400)
        .Modal(false)

        .Closable(false) // hide X button
        .Visible(false)

        .Actions(actions =>
        {
            actions.Add()
            .Text("Cancel")
            .Action("onCancelData");

            actions.Add()
            .Text("Go for it")
            .Primary(true)
            .Action("onSendData");
        })
        .Events(ev => ev.Close("onClose").Open("onOpen"))
        )

    @(Html.Kendo().Button()
            .Name("showDialogBtn")
            .HtmlAttributes(new { @class = "btn-primary", id = "openButton" })
            .Content("Open Dialog")
            .ImageUrl(Url.Content("images/Dialog_16x.png"))
            .Events(ev => ev.Click("showDialog"))
        )


    @(Html.Kendo().Tooltip()
        .For("#tooltip1")
        .Position(TooltipPosition.Right)
        .Content("<span style='font-size: 20px'>This page is for showing a basic dialog example</span>")
        .Height(37)
        )
    
    @(Html.Kendo().Tooltip()
        .For("#openButton")
        .Position(TooltipPosition.Right)
        .Content("<span style='font-size: 17px'>See Visual Studio console window for result</span>")
        .Height(37)
        )
        
    <div>See Visual Studio console window for result</div>
</div>

