@page
@using Microsoft.AspNetCore.DataProtection
@model Bootstrap5OffCanvasExample.Pages.Index1Model
@{
}


<div class="container">

    <div class="row">

        <div class="col">
            <div class="card shadow rounded-1">
                <div class="card-body  bg-light">
                    Off Canvas left and right example
                </div>
            </div>
        </div>
        
    </div>

    <div class="container">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft">Open left</button>
        <button class="btn btn-primary m-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">Open Right</button>
        <button class="btn btn-primary m-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom">Open Bottom</button>
    </div>

    <div class="offcanvas offcanvas-start" id="offcanvasLeft">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">
                This is the Default off-canvas
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>Left placement</p>
            <ul class="list-group">
                @{
                    foreach (var month in Model.Months)
                    {
                        if (DateTime.Now.ToString("MMMM") == month)
                        {
                            <li class="list-group-item active">@month</li>
                        }
                        else
                        {
                            <li class="list-group-item">@month</li>
                        }
                    }
                }
            </ul>
        </div>
    </div>

    <div class="offcanvas offcanvas-end" id="offcanvasRight">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">
                This is the Right off-canvas
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>This Offcanvas has the Right placement.</p>
            <ul class="list-group">
                @{
                    foreach (var day in Model.Days)
                    {
                        
                        if (day == Model.CurrentDay)
                        {
                            <li class="list-group-item active">@day</li>
                        }
                        else
                        {
                            <li class="list-group-item">@day</li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
    
    <div class="offcanvas offcanvas-bottom" id="offcanvasBottom">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">
                From bottom
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>This Offcanvas from bottom</p>
            <ul class="list-group">
                @{
                    foreach (var day in Model.Days)
                    {
                        
                        if (day == Model.CurrentDay)
                        {
                            <li class="list-group-item active">@day</li>
                        }
                        else
                        {
                            <li class="list-group-item">@day</li>
                        }
                    }
                }
            </ul>
        </div>
    </div>

</div>