@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container">

    <h1 class="fs-5" style="margin-left: -8px">Bogus DateOnly TimeOnly &mdash; samples</h1>

    <div class="row">
        <table class="table table-striped table-success caption-top table-borderless border border-top border-success shadow">
            <caption class="fw-bold ps-2" style="color: yellow; background-color: black">Recent</caption>
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Birth</th>
                <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var customer in Model.CustomersRecent)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.Birthdate.ToString("MM/dd/yyyy")</td>
                    <td>@customer.Time.ToString("hh:mm tt")</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="row">
        <table class="mt-1 table table-striped table-success caption-top table-borderless border border-top border-success shadow">
            <caption class="fw-bold ps-2" style="color: yellow; background-color: black">Soon</caption>
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Birth</th>
                <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var customer in Model.CustomersSoon)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.Birthdate.ToString("MM/dd/yyyy")</td>
                    <td>@customer.Time.ToString("hh:mm tt")</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    
    <div class="row">
        <table class="mt-1 table table-striped table-success caption-top table-borderless border border-top border-success shadow">
            <caption class="fw-bold ps-2" style="color: yellow; background-color: black">Between</caption>
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Birth</th>
                <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.CustomersBetween)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.Birthdate.ToString("MM/dd/yyyy")</td>
                    <td>@customer.Time.ToString("hh:mm tt")</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

</div>

