@page
@model MapRouteTemplate1.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .login_oueter {
        width: 360px;
        max-width: 100%;
    }

    .logo_outer {
        text-align: center;
    }

</style>

<div class="container">

    @*    <div class="alert alert-info" role="alert">
        Simple routing
    </div>
*@
    <div class="row d-flex justify-content-center align-items-center m-0" style="height: 85vh;">
        <div class="login_oueter">
            <form method="post">

                <div class="row">
                    <div class="col-6">
                        <a asp-page="/DateArticle"
                           asp-route-Year="2023"
                           asp-route-Month="2" asp-route-Day="23"
                           asp-route-Title="Learning Razor Pages"
                           asp-route-Current="@Model.Information.Active"
                           type="submit"
                           style="width: 150px"
                           class="btn btn-primary">Post hard wired</a>
                    </div>
                    <div class="col-6">
                        <a asp-page="/DateArticle"
                           asp-route-Year="@Model.Information.Year"
                           asp-route-Month="@Model.Information.Month"
                           asp-route-Day="@Model.Information.Day"
                           asp-route-Title="@Model.Information.Title"
                           asp-route-Current="@Model.Information.Active"
                           style="width: 150px"
                           type="submit" class="btn btn-secondary">Post from model</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
