@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>*@

<style>
    .login_oueter {
        width: 360px;
        max-width: 100%;
    }

    .logo_outer {
        text-align: center;
    }

</style>

<div class="container">


    <div class="row d-flex justify-content-center align-items-center m-0" style="height: 85vh;">
        <div class="login_oueter">
            <form method="post">
                <input type="hidden" asp-for="Person.Id" />
                <div class="row">
                    <div class="form-group">
                        <label asp-for="@Model.Person.FirstName"></label>
                        <input asp-for="@Model.Person.FirstName" class="form-control"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label asp-for="@Model.Person.LastName"></label>
                        <input asp-for="@Model.Person.LastName" class="form-control"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">

                        <label for="socialInput">@nameof(Model.Person.SSN)</label>
                        <input asp-for="@Model.Person.SSN" id="socialInput" class="form-control" />
                    </div>
                </div>
                <div class="row">

                    <div class="mt-2 d-grid gap-2">

                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="ssnCheck" onclick="toggleSocial()">
                            <label class="form-check-label" for="ssnCheck">Show/hide SSN</label>
                        </div>

                    </div>
                    <div class="col-6">
                        <input type="submit" value="Save" class="btn btn-primary "/>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<script type="text/javascript">
    function toggleSocial() {var ele = document.getElementById("socialInput");
        if (ele.type === "password") {
            ele.type = "text";
        } else {
            ele.type = "password";
        }
    }
</script>


@section scripts{
    <script>
        $(document).ready(function () {
            toggleSocial();
        });
    </script>
}