@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="js/checkboxScript.js"></script>

<div class="container">
    @{
        await Html.RenderPartialAsync("IndexPartial");
    }
    <form method="post" class="ms-sm-4" id="main-content"s>

        @for (var index = 0; index < Model.JobTypes.Count(); index++)
        {

            <div class="row">
                <div class="form-check">
                    @Html.HiddenFor(item => @Model.JobTypes[index].Value)
                    <input class="form-check-input" 
                           type="checkbox" 
                           value="@Model.JobTypes[index].Text" 
                           name="AreTypes" 
                           aria-checked="False"
                           id="@Model.JobTypes[index].Value" />
                    <label class="form-check-label"
                           for="@Model.JobTypes[index].Value">
                        @Model.JobTypes[index].Text
                    </label>
                </div>
            </div>

        }

        <div class="row mt-2">
            <input type="submit" class="btn btn-primary" value="submit" style="width: 130px;" />
        </div>

    </form>

</div>


@section Scripts
{
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            $checkboxHelper.initialize(document.getElementsByClassName("form-check-input"));
        });
    </script>
}
