@page
@model CheckedListBox.Pages.Index1Model
@{
}

<script src="js/checkboxScript.js"></script>

<div class="container">

    <form method="post" id="main-content" asp-page-handler="resend" style="width: 23em;">

        <fieldset class="border rounded-3 border-primary p-1">

            <legend class="float-none w-auto fs-6 px-1"
                    id="description">
                <span class="fw-bold">Accessories</span>
            </legend>

            @for (var index = 0; index < Model.CheckModels.Count(); index++)
            {

                <div class="row">

                    <div class="col-6 ms-3">
                        @* note setting initial value of aria-checked using aria_checked*@
                        @Html.HiddenFor(item => @Model.CheckModels[index].Id)
                        @Html.CheckBoxFor(item => @Model.CheckModels[index].Checked,
                            new
                            {
                                @id = @Model.CheckModels[index].Id,
                                @class = "form-check-input",
                                aria_checked = @Model.CheckModels[index].Checked.ToString().ToLower(),
                                aria_label = @Model.CheckModels[index].Name,
                            })

                        <input type="hidden" asp-for="@Model.CheckModels[index].Name"/>
                        <label class="form-check-label"
                               for="@Model.CheckModels[index].Id" aria-labelby="@Model.CheckModels[index].Id">
                            @Model.CheckModels[index].Name
                        </label>

                    </div>

                </div>

            }

            <div class="row mt-2 mb-2">

                <div class="ms-3">
                    <input id="resendToken" type="submit" class="btn btn-primary" value="submit" style="width: 130px;"/>
                </div>

            </div>
        </fieldset>

    </form>

</div>

@section Scripts
    {
    <script>
        document.addEventListener("DOMContentLoaded", () => {

            $checkboxHelper.initialize(document.getElementsByClassName("form-check-input"));

            document.querySelectorAll("input[type='checkbox']").forEach(cb => {
                cb.setAttribute("aria-checked", cb.checked);

                cb.addEventListener("change", function () {
                    this.setAttribute("aria-checked", this.checked);
                });
            });
        });

    </script>
}
